::-moz-selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: visible;

  padding: 0;
  margin: 0;

  -webkit-user-drag: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
  -webkit-user-drag: none;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  overflow: hidden;
  min-width: 100%;
}

@media screen and (min-width: 512px) {
  html {
    font-size: 1.75vw;
  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
}

@font-face {
  font-family: "AGChoijeonghoMinburiStd";
  src: url(./fonts/AGChoijeonghoMinburiStd.otf);
  src: local(※), url(./fonts/AGChoijeonghoMinburiStd.woff) format("woff");
}
@font-face {
  font-family: "AGChoijeonghoMinburiStdBold";
  src: url(./fonts/AGChoijeonghoMinburiStdBold.otf);
  src: local(※),
    url(./fonts/AGChoijeonghoMinburiStdBold.woff) format("woff");
}
@font-face {
  font-family: "AGChoijeonghoMinburiStdMedium";
  src: url(./fonts/AGChoijeonghoMinburiStdMedium.otf);
  src: local(※),
    url(./fonts/AGChoijeonghoMinburiStdMedium.woff) format("woff2");
}

@media screen and (min-width: 512px) {
  body {
    font-family: "AGChoijeonghoMinburiStdMedium";
  }
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

a:link,
a:visited {
  color: #bdc3c7;
}

.container {
  position: absolute;
  display: grid;
  

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, minmax(16px, auto));
  grid-column-gap: 16px;
  color: #000;

}

.item:nth-child(1) {
  mix-blend-mode: color-burn;
  grid-column: 1;
}
.item:nth-child(2) {
  grid-column: 2;
}
.item:nth-child(3) {
  grid-column: 4;
}
.item:nth-child(4) {
  grid-column: 5;
}
.item:nth-child(5) {
  grid-column: 6;
}
.item:nth-child(6) {
  grid-column: 7;
}
.item:nth-child(7) {
  grid-column: 7;
}
.item:nth-child(8) {
  grid-column: 7;
}

.credit {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 16px 0;
  color: #000;
}

a {
  text-decoration: underline;
  z-index: 1001 !important;
}

#desc-container-1 {
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;
  min-height: 250px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#desc-container-1 > iframe {
  border: none;
  width: 100%;
}

#desc-container-2 {
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;
  min-height: 250px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#desc-container-2 > iframe {
  border: none;
  width: 100%;
}

.title {
  font-size: 1rem;
  text-align: center;
  padding: 16px;
}

.text {
  padding: 0 24px 24px 24px;
  font-size: 0.75rem;
}
