::-moz-selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

::selection {
  color: black;
  background-color: rgba(255, 255, 255, 0.99);
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: visible;

  padding: 0;
  margin: 0;

  -webkit-user-drag: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
  -webkit-user-drag: none;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: inherit;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  overflow-x: hidden;
  min-width: 100%;
}

@media screen and (min-width: 512px) {
  html {
    font-size: 1.75vw;
  }
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial,
    sans-serif;
  line-height: 1.6;
}

@font-face {
  font-family: "AGChoijeonghoMinburiStd";
  src: url(./fonts/AGChoijeonghoMinburiStd.otf);
  src: local(※), url(./fonts/AGChoijeonghoMinburiStd.woff) format("woff");
}
@font-face {
  font-family: "AGChoijeonghoMinburiStdBold";
  src: url(./fonts/AGChoijeonghoMinburiStdBold.otf);
  src: local(※),
    url(./fonts/AGChoijeonghoMinburiStdBold.woff) format("woff");
}
@font-face {
  font-family: "AGChoijeonghoMinburiStdMedium";
  src: url(./fonts/AGChoijeonghoMinburiStdMedium.otf);
  src: local(※),
    url(./fonts/AGChoijeonghoMinburiStdMedium.woff) format("woff2");
}
@font-face {
  font-family: "AGChoiJeongHoStd-Regular";
  src: url(./fonts/AGChoiJeongHoStd-Regular.otf);
  src: local(※), url(./fonts/AGChoiJeongHoStd-Regular.woff) format("woff2");
}

@media screen and (min-width: 512px) {
  body {
    font-weight: 600;
  }
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: "AGChoiJeongHoStd-Regular";
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: monospace;
}

a:link,
a:visited {
  color: #bdc3c7;
}

.container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(16px, auto));
  grid-column-gap: 16px;
  font-size: 0.85rem;
  color: #000;
}

.container-white {
  position: absolute;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(16px, auto));
  grid-column-gap: 16px;
  font-size: 0.85rem;
  color: #fff;
}

.item:nth-child(1) {
  margin-left: 16px;
  grid-column: 1;
}
.item:nth-child(2) {
  margin-left: 16px;
  grid-column: 1;
}
.item:nth-child(3) {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}
.item:nth-child(4) {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}
.item:nth-child(5) {
  grid-column: 16 / span 1;
  grid-row: 1 / span 1;
}
.item:nth-child(6) {
  grid-column: 16 / span 1;
  grid-row: 2 / span 1;
}

.credit {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 16px 0;
  color: #000;
}

a {
  font-size: 0.75rem;
  text-decoration: underline;
}

#loader {
  content: url("images/boom.png");
  background-color: white;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;

  justify-content: center;
  align-items: center;
  z-index: 1001 !important;
}

/* desc-info */

#desc-container-0 {
  left: 9vw;
  max-width: 500px;
  max-height: 700px;
  min-width: 200px;
  min-height: 250px;
  background: #fff;
  color: #000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#desc-container-0 > iframe {
  border: none;
  width: 100%;
  height: 45vh;
}

#desc-container-1 {
  margin-top: -3vw;
  max-width: 500px;
  max-height: 700px;
  min-width: 200px;
  min-height: 250px;
  background: #fff;
  color: #000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#desc-container-1 > iframe {
  border: none;
  width: 100%;
}

#desc-container-2 {
  max-width: 500px;
  max-height: 700px;
  min-width: 200px;
  min-height: 250px;
  background: #fff;
  color: #000;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#desc-container-2 > iframe {
  border: none;
  width: 100%;
}

.title {
  font-size: 0.75rem;
  text-align: center;
  padding: 16px;
}

.infospot-title {
  font-family: "AGChoiJeongHoStd-Regular";
  position: absolute;
  font-size: 1.25rem;
  text-align: left;
  padding: 16px;
  color: #000;

  z-index: 1001;
  cursor: pointer;
}

.thumbnail {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.text {
  padding: 0 16px 16px 16px;
  font-size: 0.6rem;
  word-break: keep-all;
}

li {
  list-style: none;
}

/* element */

p {
  font-size: 0.75rem;
  line-height: 1.6;
  word-break: keep-all;
  color: white;
}

aside{
  position: fixed;
}

.section {
  padding: 0.1rem 0.5rem 0.5rem 5vw;
  opacity: 0.5;
  transition: opacity 0.25s;
  transition-delay: 0.125s;
}

.section:hover {
  opacity: 1;
}

.content {
  font-size: 0.5rem;
  width: 30%;
}

.content:nth-child(2) {
  padding-top: 5rem;
}

/* slide */

.pati{
  width: 72px;
  position: fixed;
  bottom: 16px;
  left: 16px;
}

.scroll-img1 {
  position: absolute;
  width: calc(52.5% - 16px);

  top: 5rem;
  left: 41.5%;
}
.scroll-img2 {
  position: absolute;
  width: calc(52.5% - 16px);

  top: 25rem;
  left: 41.5%;
}

.swiper {
  position: absolute;
  width: calc(52.5% - 16px);

  top: 45rem;
  left: 41.5%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination {
  display: none;
}
